<% include partials/header %>
    <h1>Delete a Campground</h1>
    <form action="/campgrounds" method="post">
    <input type="text" name = "trueDelete" placeholder = "Enter true to delete">
    <button>Confirm</button>
    </form>

<a href="/campgrounds">Click Here to Go Back</a>


<% include partials/footer %>